{% assign settings = site.data.settings %}
{% assign logo = "/assets/img/content/logo@2x.png" %}

<div class="container">
    <div class="display-table">
        <div class="display-cell">

            <!-- LOGO -->
            <a class="logo" href="/" title="{{ settings.seo_title }}" itemprop="url">
                <img src="{{ logo }}" alt="{{ settings.company_title }}" itemprop="logo">
                <span class="on"><img src="/assets/img/layout/on-even@2x.png"></span>
            </a>

            <!-- HAMBURGER -->
            <div class="global-mobile-menu hidden-md-up">
                <div class="lv-hamburger" data-menu-toggle>
                    <span class="lv-hamburger-top"></span>
                    <span class="lv-hamburger-middle"></span>
                    <span class="lv-hamburger-bottom"></span>
                </div>
            </div>

            <!-- SOCIAL MEDIA -->
            <div class="social-media hidden-md-down">
                <a class="twitter" title="twitter" href="{{ settings.twitter }}"><i class="fa fa-twitter"></i></a>
                <a class="facebook" title="facebook" href="{{ settings.facebook }}"><i class="fa fa-facebook-square"></i></a>
                <a class="instagram" title="instagram" href="{{ settings.instagram }}"><i class="fa fa-instagram"></i></a>
                <a class="youtube" title="youtube" href="{{ settings.youtube }}"><i class="fa fa-youtube-square"></i></a>
            </div>
            <!-- NOTE: Change _SELF to _BLANK -->

        </div>
    </div>
</div>