{% assign settings = site.data.settings %}
{% assign logo = "/assets/img/content/logo-TMH@2x.png" %}

<div class="container">

    <!-- LOGO -->
    <a class="logo" href="/" title="{{ settings.title_homepage }}" itemprop="url">
        <img src="{{ logo }}" alt="{{ settings.company }}" itemprop="logo">
    </a>

    <!-- HAMBURGER -->
    <div class="global-mobile-menu hidden-md-up">
        <div class="lv-hamburger" data-menu-toggle>
            <span class="lv-hamburger-top"></span>
            <span class="lv-hamburger-middle"></span>
            <span class="lv-hamburger-bottom"></span>
        </div>
    </div>

    <!-- SOCIAL MEDIA -->
    <div class="social-media hidden-md-down">
        <a class="twitter" target="_blank" title="twitter" href="{{ settings.twitter }}"><i class="fa fa-twitter"></i></a>
        <a class="facebook" target="_blank" title="facebook" href="{{ settings.facebook }}"><i class="fa fa-facebook-square"></i></a>
        <a class="instagram" target="_blank" title="instagram" href="{{ settings.instagram }}"><i class="fa fa-instagram"></i></a>
        <a class="youtube" target="_blank" title="youtube" href="{{ settings.youtube }}"><i class="fa fa-youtube-square"></i></a>
    </div>

</div>