/*
    VARIABLES.CSS

    - Last updated: 00.00.00
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// GLOBAL VARS (USE PIXELS)
//-----------------------------------------------------------------

$fa-font-path: "/assets/fonts";
$header-height-sm: 60px; // optimal
$header-height-md: 130px;
$header-height-lg: 180px;

$nav-channel-height: rem-calc(210);

$hero-caption-height-sm: rem-calc(360);
$hero-caption-height-md: rem-calc(240);

//=========================================
//
//=========================================