/*
    VARIABLES.CSS

    - Last updated: 00.00.00
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// GLOBAL VARS (USE PIXELS)
//-----------------------------------------------------------------

$fa-font-path: "/assets/fonts";

//-----------------------------------------------------------------
// HEADER
//-----------------------------------------------------------------

$header-sm-height: 60px; // optimal
$header-md-height: auto;
$header-lg-height: auto;

//-----------------------------------------------------------------
// NAVIGATION
//-----------------------------------------------------------------

$nav-channel-height: rem-calc(210);

//-----------------------------------------------------------------
// HERO
//-----------------------------------------------------------------

$hero-caption-sm-height: rem-calc(440); //rem-calc(360);
$hero-caption-md-height: rem-calc(275);

//=========================================
//
//=========================================