/*
    HERO.CSS

    - updated: 18.03.16
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------

$hero-sm-height:            auto          !default; // IMPORTANT: if carousel slides, you need a fixed height
$hero-md-height:            auto          !default;
$hero-md-height-fixed:      100vh         !default;
$hero-lg-height:            rem-calc(600) !default;
$nav-channel-height:        rem-calc(210) !default;
$hero-caption-sm-height:    rem-calc(240) !default;

//-----------------------------------------------------------------
// HERO WRAPPER
//-----------------------------------------------------------------

.lv-hero-wrapper {
    position: relative;
}

//-----------------------------------------------------------------
// HERO
//-----------------------------------------------------------------

.lv-hero {
    position: relative;
    height: $hero-sm-height;

    @include media-breakpoint-up(md) {
        height: $hero-md-height;
    }

    @include media-breakpoint-up(lg) {
        height: $hero-lg-height;
    }

    // INSERT HEIGHT PRESET
}

//-----------------------------------------------------------------
// OFFSET MEDIA
//-----------------------------------------------------------------

.lv-hero-homepage > .lv-hero-item > .container > .row {
    > .pull-lg-6 {
        @include media-breakpoint-up(lg) {
            padding-right: rem-calc(70);
            // background: aqua;
        }
    }
}

//-----------------------------------------------------------------
// HERO ITEM
//-----------------------------------------------------------------

.lv-hero-item {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

//-----------------------------------------------------------------
// HERO CAPTION
//-----------------------------------------------------------------

.lv-hero-item-caption {
    position: relative;
    height: $hero-caption-sm-height;

    @include media-breakpoint-up(md) {
        top: $spacer-y*2;
        height: $hero-caption-md-height;
    }

    @include media-breakpoint-up(lg) {
        top: $spacer-y * 6;
    }
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------