/*
    LISTS.CSS

    - Last updated: 05.05.17
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// LISTS
//-----------------------------------------------------------------
//--------------------------------------------------------------------
//
//--------------------------------------------------------------------

//=========================================
//
//=========================================

.block-grid-condensed {
    margin: rem-calc(-10);

    li {
        padding: rem-calc(10);
    }
}

//=========================================
// HACKY
//=========================================

// .block-grid-xs-1 {
//     @include media-breakpoint-down(md) {
//         margin: -10px;

//         li {
//             padding: 10px;
//         }
//     }
// }

//-----------------------------------------------------------------
// LIST MASONRY
//-----------------------------------------------------------------

.lv-page .list-scroller {
    @include media-breakpoint-down(sm) {
        display: flex;
        // white-space: nowrap;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
    }

    li {
        @include media-breakpoint-down(sm) {
            // width: auto;
            min-width: rem-calc(210);
        }
    }

    img {
        @include media-breakpoint-down(sm) {
            width: rem-calc(200);
        }
    }
}

//=========================================
//
//=========================================