/*
    NAV.CSS

    - Last updated: 15.05.17
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------

$nav-channel-height: rem-calc(210) !default;

//-----------------------------------------------------------------
// NAV CHANNELS
//-----------------------------------------------------------------

.nav-channels {
	position: relative;
	padding: rem-calc(25 0); // used to force 40 (45px gap)
	background: rgba(black, 0.07);
	z-index: 1;

	&:after {
		content: "";
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		height: 60vh;
		background: rgba(black, 0.07);
		z-index: -1;
	}

	@include media-breakpoint-up(lg) {
	    height: $nav-channel-height;
	}
}

//--------------------------------------------------------------------
// BUTTON CHANNEL (FALLBACK)
//--------------------------------------------------------------------

.btn-channel {
	display: block;
	line-height: rem-calc(94);
	font-family: 'Bebas Neue';
	font-size: rem-calc(34);
	font-weight: 500;
	text-transform: uppercase;
	color: white !important; // why is firefox doing it?
	text-align: center;
	transition: transform 300ms ease;

	&:hover {
		transform: scale(0.95);

		@include media-breakpoint-up(md) {
		    transform: scale(1.11);
		}
	}
}

//=========================================
// ON TOPIC
//=========================================

.btn-on-topic {

	// MOBILE FALLBACK - img removed by JS
	img {
		@include media-breakpoint-down(sm) {
		    background-color: $brand-quaternary;
		    border-bottom: 4px solid darken($brand-quaternary, 15%);
		}
	}

	.atvImg-layers {
		// border-bottom: 4px solid darken($brand-quaternary, 15%);

		.atvImg-rendered-layer.is-bg {
			background-color: $brand-quaternary;
		}

		.atvImg-rendered-layer.is-fg {
		    border-bottom: 5px solid darken($brand-quaternary, 15%);
		    border-radius: rem-calc(13); // added
		}

		.on {
			color: $brand-quaternary;
		}
	}
}

// NO JS FALLBACK -------------------------
.no-js .btn-on-topic img {
	background-color: $brand-quaternary;
	border-bottom: 4px solid darken($brand-quaternary, 15%);
}
//=========================================
// ON TECH
//=========================================

.btn-on-tech {

	// MOBILE FALLBACK - img removed by JS
	img {
		@include media-breakpoint-down(sm) {
		    background-color: $brand-quinary;
		    border-bottom: 4px solid darken($brand-quinary, 15%);
		}
	}

	.atvImg-layers {
		// border-bottom: 4px solid darken($brand-quinary, 15%);

		.atvImg-rendered-layer.is-bg {
		    background-color: $brand-quinary;
		}

		.atvImg-rendered-layer.is-fg {
		    border-bottom: 5px solid darken($brand-quinary, 15%);
		    border-radius: rem-calc(13); // added
		}

		.on {
			color: $brand-quinary;
		}
	}
}

// NO JS FALLBACK -------------------------
.no-js .btn-on-tech img {
	background-color: $brand-quinary;
	border-bottom: 4px solid darken($brand-quinary, 15%);
}
//=========================================
// ON GAMES
//=========================================

.btn-on-games {

	// MOBILE FALLBACK - img removed by JS
	img {
		@include media-breakpoint-down(sm) {
		    background-color: $brand-septenary;
		    border-bottom: 4px solid darken($brand-septenary, 15%);
		}
	}

	.atvImg-layers {
		// border-bottom: 4px solid darken($brand-septenary, 15%);

		.atvImg-rendered-layer.is-bg {
		    background-color: $brand-septenary;
		}

		.atvImg-rendered-layer.is-fg {
		    border-bottom: 5px solid darken($brand-septenary, 15%);
		    border-radius: rem-calc(13); // added
		}

		.on {
			color: $brand-septenary;
		}
	}
}

// NO JS FALLBACK -------------------------
.no-js .btn-on-games img {
	background-color: $brand-septenary;
	border-bottom: 4px solid darken($brand-septenary, 15%);
}
//=========================================
// NETFLIX BINGE
//=========================================

.btn-netflix-binge {

	// MOBILE FALLBACK - img removed by JS
	img {
		@include media-breakpoint-down(sm) {
		    background-color: white;
		    border-bottom: 4px solid darken(white, 15%);
		}
	}

	.atvImg-layers {
		// border-bottom: 4px solid darken(white, 15%);

		.atvImg-rendered-layer.is-bg {
	    	background-color: white;
		}

		.atvImg-rendered-layer.is-fg {
		    border-bottom: 5px solid darken(white, 15%);
		    border-radius: rem-calc(13); // added
		}

		.atvImg-rendered-layer {
			background-size: 110%;
			background-position: center center;
		}
	}
}

// NO JS FALLBACK -------------------------
.no-js .btn-netflix-binge img {
	background-color: white;
	border-bottom: 4px solid darken(white, 15%);
	height: 94px;
	width: 100%;
}
//=========================================
// MOVIE REVIEWS
//=========================================

.btn-movie-reviews {

	// MOBILE FALLBACK - img removed by JS
	img {
		@include media-breakpoint-down(sm) {
		    background-color: $gray-dark;
		    border-bottom: 4px solid darken($gray-dark, 15%);
		}
	}

	.atvImg-layers {
	    // border-bottom: 4px solid darken($gray-dark, 15%);

	    .atvImg-rendered-layer.is-bg {
	        background-color: $gray-dark;
	        // border-bottom: 4px solid darken($gray-dark, 15%);
	    }

	    .atvImg-rendered-layer.is-fg {
	        border-bottom: 5px solid darken($gray-dark, 15%);
	        border-radius: rem-calc(13); // added
	    }

    	.atvImg-rendered-layer {
    	    .movie {
        		position: relative;
        		top: rem-calc(11);
        		font-size: rem-calc(42);
        		color: $brand-primary;
        	}

        	.reviews {
        		position: relative;
        		top: 0px;
        		font-size: rem-calc(30);
        		color: $brand-secondary;
        	}
    	}
	}
}

// NO JS FALLBACK -------------------------
.no-js .btn-movie-reviews img {
	background-color: $gray-dark;
	border-bottom: 4px solid darken($gray-dark, 15%);
}
//=========================================
// SHOW AND TELL
//=========================================

.btn-show-and-tell {

	// MOBILE FALLBACK - img removed by JS
	img {
		@include media-breakpoint-down(sm) {
		    background-color: $brand-octonary;
		    border-bottom: 4px solid #e26f49;
		}
	}

	.atvImg-layers {
	    // border-bottom: 4px solid #e26f49; //darken($brand-octonary, 15%);

	    .atvImg-rendered-layer.is-bg {
	    	background-color: $brand-octonary;
	    }

	    .atvImg-rendered-layer.is-fg {
	        border-bottom: 5px solid #e26f49;
	        border-radius: rem-calc(13); // added
	    }

	    .atvImg-rendered-layer {

	        .text {
    	    	position: relative;
    	    	top: 2px; // magic
    	    }

    	    .ampersand {
        		font-family: 'Libre Baskerville';
        		font-size: rem-calc(28);
        		line-height: 0;
        	}
	    }
	}
}

// NO JS FALLBACK -------------------------
.no-js .btn-show-and-tell img {
	background-color: $brand-octonary;
	border-bottom: 4px solid #e26f49;
}
//--------------------------------------------------------------------
//
//--------------------------------------------------------------------