/*
    SECTIONS.CSS

    - Last updated: 12.05.17
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// SECTIONS
//-----------------------------------------------------------------

.section {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.section-image {
	height: 800px;
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================