/*
    SOCIAL-MEDIA.CSS

    - Last updated: 02.11.16
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//--------------------------------------------------------------------
// SOCIAL MEDIA
//--------------------------------------------------------------------

.social-media {
	position: absolute;
	top: 60px;
	right: 10px;
	width: 139px;
	height: 236px;
	list-style: none;
	padding: 0;

	li {
		padding: 0;
	}

	a {
		position: relative;
		display: inline-block;
		color: $gray;
		font-size: rem-calc(50);
	}
}

//-----------------------------------------------------------------
// CONTEXT
//-----------------------------------------------------------------

.global-header .social-media {
	top: 0;

	.twitter,
	.facebook,
	.instagram,
	.youtube {
		transition: transform ease 300ms, color ease 300ms;

		&:hover {
			color: darken($gray, 25%);
			transform: scale(1.0);

			&:after {
				transform: rotate(0deg) translate(3px, -14px);
			}
		}
	}

	.youtube {
		top: 8px;
		left: 5px;
		font-size: rem-calc(45);
		transform: rotate(16deg);
	}

	.instagram {
		top: 12px;
		left: -14px;
		transform: rotate(16deg);
	}

	.facebook {
		top: 52px;
		left: 55px;
		transform: rotate(-16deg);
		z-index: 1;
	}

	.twitter {
		top: 60px;
		left: 30px;
		font-size: rem-calc(45);
		transform: rotate(-10deg);
	}
}

//=========================================
//
//=========================================