/*
    TYPE.CSS

    - Last updated: 16.10.16
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//--------------------------------------------------------------------
// TYPE
//--------------------------------------------------------------------

html {
  @include media-breakpoint-down(xs) { font-size: $font-size-xs; }
  @include media-breakpoint-up(md) { font-size: 14px; }
  @include media-breakpoint-up(lg) { font-size: 13px; }
  @include media-breakpoint-up(xl) { font-size: 16px; }
}

//-----------------------------------------------------------------
// ANCHORS
//-----------------------------------------------------------------

a {
	transition: color ease 300ms, background-color ease 300ms;
}

p, ul, ol {
	font-size: rem-calc(22);
  font-weight: 400;
}

.font-normal {
  font-weight: 300;
}

//-----------------------------------------------------------------
// SPACER
//-----------------------------------------------------------------

.spacer {
	width: 1px;
	height: 1px;
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================