/*
    SPECIAL.CSS

    - Last updated: 00.00.00
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// SPECIAL
//-----------------------------------------------------------------

[class*="block-grid-"] {
  overflow: visible; // fixes issue with IE
}

.rel {
	position: relative;
}

// prevent layer stacking glitch
.layer {
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================