---
layout: base
---

{% assign hero = page.hero | default: "/assets/img/dmo/content/hero-1.pngX" %}


<!-- HERO WRAPPER -->
<div class="lv-hero-wrapper">

    <!-- HERO -->
    <div class="lv-hero has-height-preset-1 has-wallpaper">

    	<div class="lv-hero-wallpaper"></div>

        <!-- HERO ITEM -->
        <div class="lv-hero-item" style="background-image: url('{{ hero }}')">
            <div class="container">
            	<div class="spacer py-5"></div>
				<h1>Videos</h1>
            </div>
        </div>

    </div>
</div>

<div class="spacer mb-4"></div>

<!-- { { content }} -->

<!-- CONTENT -->
<main class="page-content-container">
    <!-- <div class="page-content-container-bleed" data-parallax-scroll="0.2"></div> -->
    <div class="container">
        <div class="page-content">
            <!-- { % include snippets/breadcrumb.html %} -->
            {{ content }}
        </div>
    </div>
</main>