---
layout: base
---

{% assign settings = site.data.settings %}
{% assign featured = site.data.sitemap[3].children | where: "featured", true %}

{% include tmh/hero.html %}

{% assign playlists = site.data.tmh.playlists %}

<!-- COUCH MAN -->
<div class="couch-man">
	<div class="container rel">
		<img class="img" src="/assets/img/tmh/layout/couch-man@2x.png" alt="Couch Man">
	</div>
</div>

<!-- NAV CHANNELS -->
<nav class="nav-channels">
	<div class="container">
		<ul class="block-grid-xs-1 block-grid-md-3 block-grid-lg-6 block-grid-xl-6">
			{% for item in playlists | limit: 6 %}
				<li>
					<a class="atvImg {{ item.class }}" target="_self" href="{{ item.url }}">
						<!-- <img width="100%" src="http://placehold.it/700x360"> -->
						<div class="atvImg-layer is-bg"></div>
						<div class="atvImg-layer is-static" data-img="/assets/img/tmh/layout/static-4.gif"></div>
						<div class="atvImg-layer is-fg" data-img="{{ item.image }}"></div>
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>

	<!-- NO JAVASCRIPT WARNING -->
	<noscript>
		<h3 class="text-center"><i class="fa fa-warning"></i> Playlists can't load without JavaScript</h3>
	</noscript>
</nav>