---
layout: base
---

{% assign settings = site.data.settings %}
{% assign featured = site.data.sitemap[3].children | where: "featured", true %}
{% assign channels = site.data.dmo.channels %}

{% include dmo/hero.html %}

<!-- SPRITES -->
<div class="character-sprites-wrapper">
	<div class="container rel">
		<div class="character-sprites">
		    <div class="sprite-dan-torso has-long-hair">
		        <div class="sprite-dan-head">
		            <div class="sprite-dan-head-eyes layer" data-depth="0.1"></div>
		        </div>
		        <div class="sprite-dan-torso-hack"></div>
		        <div class="sprite-dan-head-mullet"></div>
		    </div>
		    <div class="sprite-mitch-torso">
		        <div class="sprite-mitch-head">
		            <div class="sprite-mitch-head-eyes layer" data-depth="0.11"></div>
		        </div>
		    </div>
		</div>
	</div>
</div>

<!-- NAV CHANNELS -->
<nav class="nav-channels">
	<div class="container">
		<ul class="list-scroller block-grid-xs-6 block-grid-md-3 block-grid-lg-6">
			{% for item in channels | limit: 6 %}
				<li>
					<a class="atvImg btn-channel {{ item.class }}" target="_self" href="{{ item.url }}">
						<img width="100%" src="{{ item.image }}" alt="{{ item.title }}">
						<div class="atvImg-layer is-bg"></div>
						<div class="atvImg-layer is-fg" data-img="{{ item.image }}"></div>
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>
</nav>