---
layout: base
---

{% assign settings = site.data.settings %}
{% assign featured = site.data.sitemap[3].children | where: "featured", true %}
{% assign playlists = site.data.dmo.playlists %}

{% include dmo/hero.html %}

<!-- SPRITES -->
<div class="character-sprites-wrapper">
	<div class="container rel">
		<div class="character-sprites">
		    <div class="sprite-dan-torso has-long-hair">
		        <div class="sprite-dan-head">
		            <div class="sprite-dan-head-eyes layer" data-depth="0.1"></div>
		        </div>
		        <div class="sprite-dan-torso-hack"></div>
		        <div class="sprite-dan-head-mullet"></div>
		    </div>
		    <div class="sprite-mitch-torso">
		        <div class="sprite-mitch-head">
		            <div class="sprite-mitch-head-eyes layer" data-depth="0.11"></div>
		        </div>
		    </div>
		</div>
	</div>
</div>

<!-- NAV CHANNELS -->
<nav class="nav-channels">
	<div class="container">
		<ul class="block-grid-xs-1 block-grid-md-3 block-grid-lg-6 block-grid-xl-6">
			{% for item in playlists | limit: 6 %}
				<li>
					<a class="atvImg btn-channel {{ item.class }}" target="_self" href="{{ item.url }}">
						<!-- <img width="100%" src="http://placehold.it/700x360?text={{item.html_text | upcase | strip_html }}"> -->
						<div class="atvImg-layer is-bg"></div>
						<div class="atvImg-layer is-fg" data-img="{{ item.image }}">
							<div class="text">
								{{ item.html_text }}
							</div>
						</div>
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>

	<!-- NO JAVASCRIPT WARNING -->
	<noscript>
		<h3 class="text-center"><i class="fa fa-warning"></i> Playlists can't load without JavaScript</h3>
	</noscript>
</nav>

<!-- <a target="_blank" class="btn btn-on-topic btn-channel" href="{{ settings.playlists.ON_TOPIC }}"><span class="on">On</span> Topic</a> -->
<!-- <a target="_blank" class="btn btn-on-tech btn-channel" href="{{ settings.playlists.ON_TECH }}"><span class="on">On</span> Tech</a> -->
<!-- <a target="_blank" class="btn btn-on-games btn-channel" href="{{ settings.playlists.ON_GAMES }}"><span class="on">On</span> Games</a></li> -->
<!-- <a target="_blank" class="btn btn-netflix-binge btn-channel" href="{{ settings.playlists.NETFLIX_BINGE }}">Netflix Binge</a> -->
<!-- <a target="_self" class="btn btn-movie-reviews btn-channel" href="{{ settings.playlists.MOVIE_REVIEWS }}">
	<span class="display-table">
		<span class="display-cell">
			<span class="text">
				<span class="movie">Movie</span><br><span class="reviews">Reviews</span>
			</span>
		</span>
	</span>
</a> -->
<!-- <a target="_self" class="btn btn-show-and-tell btn-channel" href="{{ settings.playlists.SHOW_AND_TELL }}">Show<span class="ampersand">&amp;</span>Tell</a> -->

{% comment %}


<li>
	<a target="_self" class="atvImg btnX btn-on-tech btn-channel" href="#">
		<img width="100%" src="http://placehold.it/700x360">
		<div class="atvImg-layer"></div>
		<div class="atvImg-layer">
			<div class="text">
				<span class="on">On</span> TECH
			</div>
		</div>
	</a>
</li>
<li>
	<a target="_self" class="atvImg btnX btn-on-games btn-channel" href="#">
		<img width="100%" src="http://placehold.it/700x360">
		<div class="atvImg-layer"></div>
		<div class="atvImg-layer">
			<div class="text">
				<span class="on">On</span> Games
			</div>
		</div>
	</a>
</li>
<li>
	<a target="_self" class="atvImg btnX btn-netflix-binge btn-channel" href="#">
		<img width="100%" src="http://placehold.it/700x360">
		<div class="atvImg-layer"></div>
		<div class="atvImg-layer" data-img="/assets/img/dmo/layout/netflix-binge@2x.png"></div>
	</a>
</li>
<li>
	<a target="_self" class="atvImg btnX btn-movie-reviews btn-channel" href="#">
		<img width="100%" src="http://placehold.it/700x360">
		<div class="atvImg-layer"></div>
		<div class="atvImg-layer">
			<div class="text">
				<span class="movie">Movie</span><br><span class="reviews">Reviews</span>
			</div>
		</div>
	</a>
</li>
<li>
	<a target="_self" class="atvImg btnX btn-show-and-tell btn-channel" href="#">
		<img width="100%" src="http://placehold.it/700x360">
		<div class="atvImg-layer"></div>
		<div class="atvImg-layer">
			<div class="text">
				Show<span class="ampersand">&amp;</span>Tell
			</div>
		</div>
	</a>
</li>
{% endcomment %}